<style media="screen">
  #titulo {
    font-size: 2rem;
    font-weight: 700;
    color: #303030;
  }

  #boton {
    padding: 10px;
    border-radius: 3px;
    background-color: #303030;
    width: 300px;
    float: right;
    margin-right: 5%

  }

  #subtitulo {
    color: white;
    font-size: 1.5rem;
    text-align: center;
    text-decoration: none;
  }

  #subtitulo:link {
    color: white;
    text-align: center;
    text-decoration: none;
  }

  #container {
    background-color: white;
    margin-top: 4%;
    border-radius: 8px;
    padding: 10px;
    height: 400px;
  }
</style>
<div id="container">
  <br>
  <h1 id="titulo">Bienvenido a distribuciones Madeg s.a.s</h1>
  <br>
  <hr>
  <p>Somos una compañia especializada en la distribución de insumos y elementos de ferreteria universal para cualquier proyecto de construcción, obra o reparaciones siempre pensando en las necesidades de nuestros clientes, lo invitamos a conocer nuestro portafolio de productos y a contactarnos por cualquier solicitud o duda que tenga.</p>
  <br>
  <br>
  <br>
  <a href="/productos"><div id="boton"><h2 id="subtitulo">Conocer productos</h2></div></a>
  <br>
</div>
